body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B89C87;
    color: #585C5F;
}

.mainlogo {
    max-width: 100vw;
    max-height: 100vh;

}

header {
    background-color: #7E6F64;
    color: #585C5F;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #585C5F;
    text-decoration: none;
}

.btn {
    color: #000;
    border-color: #000;
}

.btn-outline-secondary {
    color: #000;
    border-color: #000;
}


.hero {
    background: #ddd url('') no-repeat center center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

footer {
    background-color: #110C09;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navimage {
    width: 100vw;
    max-height: 300px;
    left: 0;
    position: relative;

}