{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="row container-fluid mx-0 my-0 px-0">
    <div class="col-12 px-0 img-containerino" style="margin-top: 100px;">
        <a href="#">
            <img class="img-fluid" src="{% static 'images/hand.jpg' %}" alt="click for artwork gallery">
            <div class="overlay"><h1>LINEWORK</h1></div>
        </a>
    </div>

    <div class="col-12 px-0 img-containerino" style="margin-top: 300px;">
        <a href="#">
            <img class="img-fluid" src="{% static 'images/hand.jpg' %}" alt="click for artwork gallery">
            <div class="overlay"><h1>DIGIWORK</h1></div>
        </a>
    </div>
    <div class="col-12 px-0 img-containerino" style="margin-top: 300px;">
        <a href="#">
            <img class="img-fluid" src="{% static 'images/hand.jpg' %}" alt="click for artwork gallery">
            <div class="overlay"><h1>PAINTWORK</h1></div>
        </a>
    </div>
    <div class="col-12 px-0 img-containerino" style="margin-top: 300px;">
        <a href="#">
            <img class="img-fluid" src="{% static 'images/hand.jpg' %}" alt="click for artwork gallery">
            <div class="overlay"><h1>LENSEWORK</h1></div>
        </a>
    </div>
</div>


{% endblock %}