{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container my-5">
    <div class="row g-3">
        <div class="col-12">
            <div class="navimage">
                <a href="#"><img class="navimage" src="{% static 'images/hand.jpg' %}" alt="click for artwork gallery"></a>
            </div>
        </div>
        <div class="col-12">
            <div class="img-container">
                <a href="/page2" class="img-link"
                    style="background-image: url('https://via.placeholder.com/1200x400');"></a>
            </div>
        </div>
        <div class="col-12">
            <div class="img-container">
                <a href="/page3" class="img-link"
                    style="background-image: url('https://via.placeholder.com/1200x400');"></a>
            </div>
        </div>
        <div class="col-12">
            <div class="img-container">
                <a href="/page4" class="img-link"
                    style="background-image: url('https://via.placeholder.com/1200x400');"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}