{% extends "base.html" %}

{% load static %}

{% block content %}

<hr class="custom-hr">
<h1 class="text-center exhibit-title">INKWORK EXHIBIT</h1>
<hr class="custom-hr">
<div class="text-center" style="max-width: 100%;">
    <img src="{% static 'images/building_1.JPG' %}" class="img-fluid" alt="building_1">
    <img src="{% static 'images/building_2.JPG' %}" class="img-fluid" alt="building_2">
    <img src="{% static 'images/mgk_torso_head.JPEG' %}" class="img-fluid" alt="mgk_torso_head">
</div>
{% endblock %}