{% extends "base.html" %}

{% block title %}All Bookings{% endblock %}

{% block content %}
<h2>All Bookings</h2>
<ul>
    {% for booking in bookingsite %}
    <li>
        <a href="{% url 'bookingsite:show_booking' booking.id %}">{{ appointment.datetime }} - {{ appointment.cut.name }}</a>
        ({{ booking.user.username }} has requested {{ booking.resource }})
    </li>
    {% empty %}
    <li>No bookings available.</li>
    {% endfor %}
</ul>
<a href="{% url 'bookingsite:create_booking' %}">Create New Booking</a>
{% endblock %}