{% extends "base.html" %}

{% block title %}All Bookings{% endblock %}

{% block content %}
<h2>All Bookings</h2>
<ul>
    {% for booking in bookings %}
    <li>
        <a href="{% url 'show_booking' booking.id %}">{{ booking.date_deadline }} - {{ booking.commission_details }}</a>
        ({{ booking.user.username }} has requested {{ booking.resource.name }})
    </li>
    {% empty %}
    <li>No bookings available.</li>
    {% endfor %}
</ul>
<a href="{% url 'create_booking' %}">Create New Booking</a>
{% endblock %}